/.EPackageAspect.java._trace
/.EPackageAspectEPackageAspectContext.java._trace
/.EPackageAspectEPackageAspectProperties.java._trace
/.HelloEcore.java._trace
/EPackageAspect.java
/EPackageAspectEPackageAspectContext.java
/EPackageAspectEPackageAspectProperties.java
/HelloEcore.java
