<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>



	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.inria.diverse.k3.example.category"
            name="K3 examples"
            parentCategory="org.eclipse.ui.Examples"/>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/fr.inria.diverse.k3.example.category"
            class="fr.inria.diverse.k3.sample.deployer.wizards.K3SamplePluginHelloEcoreExampleWizard"
            hasPages="false"
            icon="icons/newkermetafile.png"
            id="fr.inria.diverse.k3.sample.deployer.wizards.K3SamplePluginHelloEcoreExampleWizard"
            name="Hello ecore (k3 plugin)"
            preferredPerspectives="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <description>
            T⁮his project features a simple hello world plugin project using ecore.ecore metamodel.
         </description>
      </wizard>
  <!--<description>
            T⁮his project features a simple model transformation from Class metamodel to database metamodel. This transformation embeds its own version of the metamodels (ie. doesn't rely on an external model projects).
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.k3.language.samples.category"
            class="fr.inria.diverse.k3.sample.deployer.wizards.K3LogoExampleWizard"
            hasPages="false"
            icon="icons/newkermetafile.png"
            id="org.k3.language.samples.wizard.logo"
            name="Logo sample"
            preferredPerspectives="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <description>
            this example contains 2 projects : 1- the metamodel Logo project / 2- the transformation of Logo Language which display a trace of a logo program
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.k3.language.samples.category"
            class="fr.inria.diverse.k3.sample.deployer.wizards.K3fsmExampleWizard"
            hasPages="false"
            icon="icons/newkermetafile.png"
            id="org.k3.language.samples.wizard.fsm"
            name="FSM sample"
            preferredPerspectives="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <description>
            this example contains 2 projects : 1- the metamodel FSM project / 2- the transformation of FSM Language
         </description>
      </wizard>
      -->
   </extension>
 
</plugin>
