<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <!--<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://rules/init/1.0"
            class="init.InitPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://rules/core/1.0"
            class="core.CorePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://vm/1.0"
            class="vm.VmPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://geometry/1.0"
            class="geometry.GeometryPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://rules/evol/1.0"
            class="evol.EvolPackage"/>
   </extension>-->

</plugin>
