<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2017 Inria and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Inria - initial API and implementation
 -->
<plugin>
  <extension point="fr.inria.diverse.commons.eclipse.pde.templates">
    <template class="fr.inria.diverse.k3.ui.templates.k3al.MiniAspectSampleTemplate" contributingId="fr.inria.diverse.k3.ui.templates.template1" id="fr.inria.diverse.k3.ui.templates.mini_aspect_sample_template" name="Mini Aspect Sample"/>
    <template class="fr.inria.diverse.k3.ui.templates.k3al.MiniEcoreAspectSampleTemplate" contributingId="fr.inria.diverse.k3.ui.templates.template1" id="fr.inria.diverse.k3.ui.templates.mini_ecore_aspect_sample_template" name="Mini Ecore Aspect Sample"/>
    <template class="fr.inria.diverse.k3.ui.templates.k3al.UserEcoreBasicAspectTemplate" contributingId="fr.inria.diverse.k3.ui.templates.template1" id="fr.inria.diverse.k3.ui.templates.user_ecore_basic_aspects_template" name="User Ecore Basic Aspects"/>
    <template class="fr.inria.diverse.k3.ui.templates.k3al.UserEcoreBasicAspectWithMelangeTemplate" contributingId="fr.inria.diverse.k3.ui.templates.template1" id="fr.inria.diverse.k3.ui.templates.user_ecore_basic_aspects_with_melange_template" name="User Ecore Basic Aspects with Melange"/>
  </extension>
  <extension point="fr.inria.diverse.commons.eclipse.pde.projectContent">
    <wizard class="fr.inria.diverse.k3.ui.templates.k3al.MiniAspectSampleNewWizard" id="fr.inria.diverse.k3.ui.templates.projectContent.MiniAspectSample" name="Mini Aspect Sample" targetPluginId="fr.inria.diverse.k3.ui">
      <description>
            This template will generate a sample aspect class on top of a standard java class (java.io.File) and  generate a main class using this aspect.
         </description>
    </wizard>
    <wizard class="fr.inria.diverse.k3.ui.templates.k3al.MiniEcoreAspectSampleNewWizard" id="fr.inria.diverse.k3.ui.templates.projectContent.MiniEcoreAspectSample" name="Mini Ecore Aspect Sample" targetPluginId="fr.inria.diverse.k3.ui">
      <description>
            This template will generate some sample aspects classes on top of ecore.ecore (will not cover all the classes of this metamodel)  and  generate a main class using these aspects.
         </description>
    </wizard>
    <wizard class="fr.inria.diverse.k3.ui.templates.k3al.UserEcoreBasicAspectNewWizard" id="fr.inria.diverse.k3.ui.templates.projectContent.UserEcoreBasicAspect" name="User Ecore Basic Aspects" targetPluginId="fr.inria.diverse.k3.ui">
      <description>
            This template will generate a complete set of aspect classes on top of all the classes from the provided ecore file.
         </description>
    </wizard>
    <wizard class="fr.inria.diverse.k3.ui.templates.k3al.UserEcoreBasicAspectWithMelangeNewWizard" id="fr.inria.diverse.k3.ui.templates.projectContent.UserEcoreBasicAspectWithMelange" name="User Ecore Basic Aspects with Melange" targetPluginId="fr.inria.diverse.k3.ui">
      <description>
            This template will generate a complete set of aspect classes on top of all the classes from the provided ecore file. And a basic Melange metamodel.
         </description>
    </wizard>
  </extension>
</plugin>
